<!-- code written by Mikhail in class, taken from https://github.com/mikhail-cct/CA1-In-class-Demo.git, changed to suit my project -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Movie Shop</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/MovieShopStyles.css" rel="stylesheet" />
    <script src="js/MovieShopCode.js"></script>
    <script>
      window.addEventListener("load", function () {
        document.getElementById("calculate").txtBillAmt.value = calculateBill(
          "movieTable"
        );
        document
          .querySelector("#calcBill")
          .addEventListener("click", function () {
            document.getElementById(
              "calculate"
            ).txtBillAmt.value = calculateBill("movieTable");
          });
      });
    </script>
  </head>

  <body>
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #afdbcd;"
      static-top
    >
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="img/icon.png" width="30" height="30" alt="" /> Movie Shop</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form class="form-inline">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-sm btn-outline-secondary" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div>
      <div>
        <table id="movieTable" class="indent">
          <thead>
            <tr>
              <th colspan="10">Check a list of all movies</th>
            </tr>
            <tr>
              <th>Select</th>
              <th>Movie ID</th>
              <th>Title</th>
              <th>Year</th>
              <th>Duration</th>
              <th>Genre</th>
              <th>Director</th>
              <th>Stars</th>
              <th>Rating</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody id="data">
            <!-- to be read from api -->
          </tbody>
        </table>
      </div>

      <div>
        <div class="col-lg-12 text-left">
          <h1 class="mt-5">Welcome to the movie menu management</h1>
          <p class="lead">Insert a new movie to the list</p>
        </div>
        <div id="results" class="col-lg-8 text-center order-3"></div>
        <div class="col-lg-4 text-center order-2">
          <form>
            <div class="form-group">
              <input
                class="form-control"
                id="title"
                type="text"
                name="title"
                placeholder="Movie Title"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="year"
                type="number"
                name="year"
                placeholder="Year"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="duration"
                type="text"
                name="duration"
                placeholder="Duration"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="genre"
                type="text"
                name="genre"
                placeholder="Genre(s)"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="director"
                type="text"
                name="director"
                placeholder="Director"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="stars"
                type="text"
                name="stars"
                placeholder="Stars"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="rating"
                type="text"
                name="rating"
                placeholder="Rating out of 10"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                id="price"
                type="text"
                name="price"
                placeholder="Price"
                required
              />
            </div>
            <button type="submit" id="submit" class="btn btn-block btn-success">
              Submit
            </button>
          </form>

          <form class="delete-form">
            <p class="lead">
              Or delete a movie from the list by entering the ID
            </p>
            <input
              id="movieid"
              class="form-control"
              type="text"
              name="id"
              placeholder="Enter the ID of the Movie to be deleted"
              required
            />
            <button
              type="submit"
              name="submit"
              id="delete"
              class="btn btn-block btn-danger"
            >
              Delete
            </button>
          </form>

          <form id="calculate">
            <div class="input-group">
              <p class="lead">
                First select some movies from the list, then press calculate
                bill to see total price
              </p>
              <div class="input-group-prepend">
                <span class="input-group-text">&euro;</span>
              </div>
              <input
                type="text"
                class="form-control"
                aria-label="Total"
                name="txtBillAmt"
              />
              <input
                class="btn btn-block btn-secondary"
                type="button"
                name="btnCalcBill"
                value="Calculate Bill"
                id="calcBill"
              />
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2019</span>
      </div>
    </footer>

    <script src="js/api.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="jquery/table.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
